{% extends 'firstaid_app/base.html' %}
{% block body_block %}

<div class="jumbotron container">
    
    <h1>{{ disease_detail.name }}</h1>
    <br>
    <br>
    <h2>About</h2>
    <p>{{ disease_detail.about }}</p>
    <h2>Symptoms</h2>
    <p>{{ disease_detail.symptoms }}</p>
    <h2>Causes</h2>
    <p>{{ disease_detail.causes }}</p>
    <h2>Treatment</h2>
    <p>{{ disease_detail.treatment }}</p>
    <br>
    <br>
    <a href="{% url 'firstaid_app:library_list' %}" class="button"
             style="text-decoration:none; border: 1px solid black; 
             text-align: center; padding: 20px; color: black; background: rgb(232, 237, 238);">Back</a>
</div>

{% endblock %}